#container{
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* justify-content: baseline; */
    /* flex-wrap: wrap-reverse; */
    align-items: flex-start;
    align-content:baseline;
}

#grn{
    align-self: flex-end;
    /* flex-basis: 20px; */
    /* flex-grow: 1; */
    flex-shrink: 2;
}

#red{
    /* flex-grow: 3;
    max-width: 200px;
    min-width: none; */
    /* flex-shrink: 2; */
    flex: 2 2 100px;
}

h1{
    text-align: center;
}

#container div{
    height: 100px;
    width: 300px;
    color: bisque;
    text-align: center;
    font-size: 1.5em;
}