<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page</h1>
    <!-- <h3><%= 2 * 3 %></h3> -->
    <!-- <h3><%= "mangalam".toUpperCase() %></h3> -->
    <h3><%= ["hello", "namaste", "hola", "bonjour"][3] %></h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis,
      beatae! Tempora odit consequuntur sed excepturi mollitia minima nihil
      necessitatibus earum, quis modi illum suscipit. Molestias quaerat veniam
      itaque repellat numquam?
    </p>
    <button>click me!</button>
  </body>
</html>
