<p> 
    <ul>
        <li> Class 10th passout in 2020 from Sanskriti Public School </li>
        <li> Class 12th passout in 2022 from Sanskriti Public School </li>
        <li> Currently pursuing Btech in CSE at Nims University </li>
    </ul>
    </p>