<!-- <div style="background-color: chocolate">
  contact us on <br />
  Email : abc@abc.com <br />
  Phone : +91 xxxxxxxxxx <br />
</div> -->

<h2> Contact </h2>
<p>
<ul>
    <li> <b> Ph No - 9696503753 </b> </li>
    <li> <b> Email id - mangalamab17@gmail.com </b> </li>
    <li> <a href="https://www.linkedin.com/in/mangalam-mishra-61a878249" alt="linkedin"> Linkedin </a> </li>
</ul>
</p>

<p> Made with &hearts; by Mangalam Mishra</p>