<h2> Skills </h2>
    <p>
    <ul>
        <li> C Programming </li>
        <li> C++ Programming </li>
        <li> Java Programming </li>
        <li> Data Structures and Algorithms </li>
        <li> Currently learning Web Development </li>
    </ul>
    </p>