

.ticket {
  border: 1px solid black;
  border-radius: 14px;
  background-color: azure;
  color: black;
}

button {
  margin-top: 20px;
  background-color: bisque;
  height: 40px;
  width: 175px;
  color: #000;
}
