#outer{
    background-color: gray;
    height: 150px;
    width: 300px;
    border: 5px dotted black;
    /* margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em; */
    margin:20px 1em 40px 2em;    
    padding: 1em;
}

.inner{
    background-color: pink;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

li{
    color:red;
    display: inline;
}