/* Styling done for percentage unit */
/* h1{
    border: 2px solid black;
    width: 45%;
}

#outer{
    height: 500px;
    width: 500px;
    background-color: pink;
}

#inner{
    height: 75px;
    width: 75px;
    background-color:goldenrod;
    margin-left: 10px;
} */

/* Styling set for em unitl */
#outer{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    background-color: chocolate;
    font-size: 20px;
}

#inner{
    height: 100px;
    width: 100px;
    background-color:darkcyan;
    font-size: 0.9em;
    padding: 1em;
}

button{
    font-size: 50px;
    border-radius: 15%;
    border:5px solid crimson;
    padding-left: 1em;
    padding-right: 1em;
}

section{
    font-size: 10px;
}

div{
    /* font-size: 2em; */
    font-size:0.5rem;
}