div{
    height: 200px;
    width:800px;
    background-color:antiquewhite;

    /* border-width: 5px;
    border-style:solid;
    border-color: black; */

    border:5px solid indigo;
    border-left-color: forestgreen;
    border-left-style:double;

    border-right: 5px solid black;

    border-radius:20px;
    /* border-top-left-radius:30px; */

    padding-top: 10px;

    /* margin-bottom:20px;
    margin-left:20px; */
    /* margin:50px; */
    /* margin:10px 20px 30px; */
    margin:10px 20px 10px 20px;
    
}

h1{
    /* border-width: 2px;
    border-style:dotted;
    border-color: blueviolet; */

    border:2px dotted blueviolet
}

button{
    border: 2px solid black;
    border-radius:10px;
    padding-left:25px;
    padding-right: 25px;
    background-color: crimson;

    padding:5px;
}