* {
    font-family: monospace;
}

h1,
h3 {
    color: #b92b27;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: bisque;
}

/* descendant selectorl */
.post a {
    color: purple;
    background-color: yellow;
}   

nav ul li a{
    color:hotpink;
}

p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
    color:cornsilk;
}

div > input {
    background-color: lemonchiffon;
}

input[type="text"]{
    color:crimson;
}

input[type="password"]{
    color:crimson;
}

input[type]{
    background-color:wheat;
}

button:hover{
    background-color: hotpink;
    color:black;
}

button:active{
    font-weight: bold;
    color:turquoise;
}

input[type="radio"]:checked + label{
    color:red;
    font-weight: bold;
}  

/* .post:nth-of-type(2){
    background-color: chocolate;
} */

div:nth-of-type(2n){
    background-color: khaki;
}

h1::first-letter{
    color:dodgerblue;
}

p::first-line{
    color:crimson;
}

p::selection{
    background-color: sandybrown;
}

h3{
    background-color: burlywood;
}

h3{
    background-color: darksalmon;
}

