.container{
    height: 300px;
    width: 600px;
    background-color: burlywood;
    display: grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 150px 150px 150px; */

    /* grid-template-rows: repeat(2,1fr); */
    grid-template-rows: 1fr 1fr;

    /* grid-template-columns: repeat(5,1fr); */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    /* row-gap: 10px;
    column-gap: 10px; */
    grid-gap: 10px 10px;

    justify-items: center;
    align-items: end;
}

.item{
    /* height: 50px;
    width: 100px; */
    background-color:cornflowerblue;
    border: 2px solid black;
    text-align: center;
}

.one{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    /* grid-column: 1/4; */ 
    /* grid-column: 1/span 3; */
    justify-self: end;
}

.two{
    /* grid-row-start: 1;
    grid-row-end: 3; */

    grid-row: 1/3;
    grid-row: 1/span 3;
}