.box {
    height: 100px;
    width: 300px;
    background-color: hotpink;

    animation-name: fontAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: 5;
    animation-direction: normal;

    animation-name: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: 5;
    animation-direction: normal;

    /* animation-name: widthAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal; */

    animation: widthAnimate 3s ease-in-out 0s infinite normal;

    animation: multiAnimate 3s ease-in-out 0s 3 normal;

    animation: colAnimate 5s ease-out 0s 5 normal;
}

/* for multiple animations */
@keyframes multiAnimate {
    from {
        width: 10px;
        background-color: brown;
    }

    to {
        width: 400px;
        background-color: goldenrod;
        border-radius: 10px;
    }
}

/* for single animations */
@keyframes fontAnimate {
    from {
        font-size: 20px;
    }

    to {
        font-size: 50px;
    }
}

@keyframes colorAnimate {
    from {
        background-color: brown;
    }

    to {
        background-color: darkorange;
    }
}

@keyframes widthAnimate {
    from {
        width: 50px;
    }

    to {
        width: 500px;
    }
}

/* % in animation */
@keyframes colAnimate{
    0%{
        background-color:burlywood;
    }
    25%{
        background-color:aqua;
    }
    50%{
        background-color:chocolate;
    }
    75%{
        background-color:cornflowerblue;
    }
    100%{
        background-color:darksalmon;
    }
}