h1{
    color:aquamarine;
    background-color:coral;
}

h2{
    color:darksalmon;
    background-color:chartreuse;
}

p{
    color:green;
    background-color:tan;
}

button{
    color:mediumslateblue;
    background-color:black;
}