h1{
    text-align:center;
    font-weight:700;
    text-decoration: red wavy underline;
    letter-spacing: 10px;
    font-family: Futura,avant garde,Helvetica;
}

h3{
    text-align: left;
    text-decoration: pink double line-through;
}

p{
    text-align: justify;
    font-weight: normal;
    text-decoration: overline;  
    line-height:2.5;
    font-size: 20px ;
}

a{
    text-decoration: none;
}