p {
    font-family: helvetica;
    color: #ff1178;
    text-align: center;
    font-size: 90px;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 5.5px;
    text-decoration: black double underline;
    text-transform: uppercase;
}