<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deleted the user</title>
</head>
<body>
    <h3>To delete the user : <%=user.email%>, enter the password</h3>
    <form method="POST" action="/user/<%=user.id%>?_method=DELETE">
        <input placeholder="enter password to delete" name="password">
        <button>DELETE</button>
    </form>
</body>
</html>