/* body{
    text-align: center;
}

div{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin: auto;
} */

/* .box{
    background-color:cornflowerblue;
    height: 100px;
    width: 100px;
    border: 1px solid black;
} */

div{
    background-color: pink;
    height: 200px;
    width: 400px;
}

ul{
    background-color: blue;
}

li{
    background-color: greenyellow;
}