/* For transform property */

/* section{
    margin-top: 100px;
}

div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: burlywood;
    border: 2px solid black;
    margin: 10px auto;   
}

div:nth-of-type(2n){
    background-color: chocolate;
}

div:nth-of-type(3n){
    background-color:cornflowerblue;
}

/* transform */
/* 
#one{
    transform: rotate(45deg);
}

#two{
    transform: scale(0.5);
}

#three{
    transform: translate(-100px,-100px);
}

#four{
    transform: skew(30deg);
}

#five{
    transform: rotate(30deg) translateX(150px);
}  */

/* ----------------------------------------------------- */

/* for box shadow */
div{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: burlywood;
    margin: 10px auto;   
    box-shadow: 2px 2px 8px black;
}
