div {
    height: 200px;
    width: 200px;
    /* background-color: rgb(255, 0, 0, 0.9); */
    background-color:#a52a2aff;
    margin:0 auto;
    
    transition: margin-top 2s ease-in-out 0.2s;
}

div:hover{
    background-color: hotpink;
    margin-top: 500px;
    border-radius: 50%;
}

/* .opacity{
    height: 200px;
    width: 200px;
    opacity: 0.8;
} */