div {
    width: 500px;
    height: 300px;
    background-color: lightcoral;
    margin: 10px auto;
    background-image: url(photo-1526549928000-f98211febecd.avif);
    /* background-size: contain; */
    background-size: cover;
    /* background-size: auto; */
}