.Product {
  border: 1px solid salmon;
  border-radius: 15px;
  margin-top: 75px;
  margin-bottom: 17px;
  /* padding: 0 10px 0 10px; */
  margin-left: 35px;
  top: 0;
  height: 180px;
  width: 275px;
}