/* css for index.ejs */

body {
  margin-left: 20px;
  background-color: #5f5b5b;
}

h2 {
  background-color: #2bae66;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 900;
  color: #fcf6f5;
  text-align: center;
  line-height: 3;
  border-radius: 6px;
  box-shadow: 1.2px 1.2px 1.2px 1.2px;
  height: 75px;
  width: 100%;
}

.chat {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #2bae66;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 1.3px 1.3px 1.3px 1.3px #fcf6f5;
  margin-bottom: 17px;
  /* display: inline-block; */
}

/* .chat:hover{
    background-color: #dcf8c6;
} */

.msg {
  background-color: #5f5b5b;
  color: #fcf6f5;
  padding: 5px 15px;
  border-radius: 16px;
}

.new-chat {
  /* background-color: #2BAE66; */
  /* color: #FCF6F5; */
  height: 30px;
  width: 85px;
  text-align: center;
  color:#2bae66;
  font-weight: 900;
  line-height: 1.5;
  border-radius: 6px;
  border: none;
  box-shadow: 2px 2px 2px 2px #44992f;
  /* box-shadow: 1px 1px 1px 1px; */
}

.new-chat:hover {
  box-shadow: -2px -2px 3px #2bae66, 3px 3px 3px #2bae66;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 30px #fcf6f5;
}

.edit-chat {
  background-color: #2bae66;
  height: 30px;
  width: 85px;
  text-align: center;
  line-height: 1.5;
  border-radius: 6px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

.edit-chat:hover {
  box-shadow: -2px -2px 3px #fcf6f5, 3px 3px 3px #fcf6f5;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 30px #2bae66;
}

.delete-chat {
  margin-bottom: 10px;
  background-color: #2bae66;
  height: 30px;
  width: 85px;
  text-align: center;
  line-height: 1.5;
  border-radius: 6px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px;
}

.delete-chat:hover {
  box-shadow: -2px -2px 3px #fcf6f5, 3px 3px 3px #fcf6f5;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 30px #2bae66;
}

.message {
  margin-bottom: 10px;
  background-color: #2bae66;
  height: 35px;
  width: 100%;
  line-height: 1.5;
  border-radius: 6px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #fcf6f5;
  /* border: 2px solid #FCF6F5; */
  line-height: 1.9;
  padding-left: 5px;
  color: #fcf6f5;
}

/* css for new.ejs ----------------------------------------------------------------------------*/

body {
  margin-left: 20px;
  background-color: #5f5b5b;
}
h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #2bae66;
  font-weight: 900;
}

input {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: -2px -2px 3px #fcf6f5, 1px 1px 1px #fcf6f5;
  background-color: #2bae66;
  color: #fcf6f5;
  border: 2px solid #2bae66;
  border-radius: 3px;
}

input::placeholder {
  color: #fcf6f5;
}

.create-chat {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  background-color: #fcf6f5;
  color: #2bae66;
  height: 30px;
  width: 150px;
  text-align: center;
  line-height: 1.5;
  border: none;
  border-radius: 6px;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #44992f;
}

/* .create-chat:hover {
  box-shadow: -2px -2px 3px #fcf6f5, 3px 3px 3px #fcf6f5;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 30px #2bae66;
} */

.text-msg {
  box-shadow: -2px -2px 3px #fcf6f5, 1px 1px 1px #fcf6f5;
  background-color: #2bae66;
  color: #fcf6f5;
  border: 2px solid #2bae66;
  border-radius: 3px;
}

/* css for edit.ejs ----------------------------------------------------------------------------*/
.edit-msg{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 900;
    background-color: #fcf6f5;
    color: #2bae66;
    height: 30px;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    line-height: 1.5;
    border: none;
    border-radius: 6px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #44992f;
}

.main-text{
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #2bae66;
  font-weight: 900;
}